@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 84 78% 51%; /* Vibrant Lime Green */
    --foreground: 240 10% 3.9%; /* Almost Black */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 102 45% 22%; /* #254e1a */
    --primary-foreground: 0 0% 98%;
    --secondary: 300 47% 83%; /* #e9c0e9 */
    --secondary-foreground: 240 10% 3.9%;
    --muted: 84 50% 92%;
    --muted-foreground: 240 5% 45%;
    --accent: 70 80% 52%; /* #d2e822 */
    --accent-foreground: 102 45% 22%;
    --destructive: 354 83% 25%; /* #780c16 */
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 88%;
    --input: 0 0% 100%;
    --ring: 102 45% 22%; /* #254e1a */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1.25rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 70 80% 52%; /* #d2e822 */
    --primary-foreground: 102 45% 22%; /* #254e1a */
    --secondary: 300 47% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 70 80% 52%; /* #d2e822 */
    --accent-foreground: 102 45% 22%; /* #254e1a */
    --destructive: 354 83% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 12%;
    --ring: 70 80% 52%; /* #d2e822 */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-image:
      linear-gradient(to right, hsl(var(--foreground), 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--foreground), 0.1) 1px, transparent 1px);
    background-size: 4rem 4rem;
  }
}
