@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 17% 95%; /* #f3f3f1 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 102 53% 20%; /* #254e1a */
    --primary-foreground: 70 79% 52%; /* #d2e822 */
    --secondary: 34 100% 53%; /* #ff9312 */
    --secondary-foreground: 30 89% 16%; /* #4c2f05 */
    --muted: 84 50% 92%;
    --muted-foreground: 240 5% 45%;
    --accent: 70 79% 52%; /* #d2e822 */
    --accent-foreground: 102 53% 20%; /* #254e1a */
    --destructive: 354 83% 25%; /* #780c16 */
    --destructive-foreground: 60 17% 95%; /* #f3f3f1 */
    --border: 220 20% 88%;
    --input: 0 0% 100%;
    --ring: 102 53% 20%; /* #254e1a */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 34 100% 53%; /* #ff9312 */
    --chart-5: 30 89% 16%; /* #4c2f05 */
    --radius: 1.25rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 70 79% 52%; /* #d2e822 */
    --primary-foreground: 102 53% 20%; /* #254e1a */
    --secondary: 34 100% 53%; /* #ff9312 */
    --secondary-foreground: 30 89% 16%; /* #4c2f05 */
    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 70 79% 52%; /* #d2e822 */
    --accent-foreground: 102 53% 20%; /* #254e1a */
    --destructive: 354 83% 25%; /* #780c16 */
    --destructive-foreground: 60 17% 95%; /* #f3f3f1 */
    --border: 240 4% 15%;
    --input: 240 4% 12%;
    --ring: 70 79% 52%; /* #d2e822 */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 34 100% 53%;
    --chart-5: 30 89% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-image:
      linear-gradient(to right, hsl(var(--foreground), 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--foreground), 0.1) 1px, transparent 1px);
    background-size: 4rem 4rem;
  }
}
